<div class="chat-wrapper">
    <div class="chat-header bg-primary" ng-click="toggleChatWindow()">
        <div>{{header}}<span class="badge" data-ng-hide="chatWindowOpen || newMsgsCount == 0">{{newMsgsCount}}</span></div>

    </div>
    <div class="chat-body" ng-show="chatWindowOpen">
        <div class="chat-text-window" >
            <div ng-repeat="m in conversation.messages" class="chat-msg" ng-class="{delivered: m.status=='delivered'}" ng-style="{'direction':(m.user == $parent.$parent.appData.user.id)?'rtl':'ltr'}">
                <div>
                    <img ng-src="m.user.imageUrl" class="chat-msg-user-img" ng-show="m.user.imageUrl">
                    <span class="glyphicon glyphicon-user" ng-hide="m.user.imageUrl"></span>
                    <span class="chat-user-name" ng-hide="m.user.id">{{getUserName(m.user)}}</span>
                </div>
                <div>{{m.text}}</div>
                <a download="{{m.file.name}}" href="{{m.file.data}}" data-ng-show="m.file">{{m.file.name}}</a>
                <span class="glyphicon glyphicon-ok" data-ng-class="{'glyphicon-ok': m.status == 1, 'glyphicon-time': m.status == 0}" data-ng-show="m.status"></span>
            </div>
        </div>
        <div class="chat-footer input-group">
            <form class="">
                <div class="file-uploader">
                    <input type="file" file-uploader on-file-changed="onFileChanged(data, name)" class="">
                    <span class="glyphicon glyphicon-paperclip"></span>
                </div>
                <textarea class="" ng-model="myNewMsg" ></textarea>
                <input class="chat-submit-btn btn btn-info form-control" ng-click="sendNewMsg()" type="submit" value="Send">
            </form>
        </div>
    </div>
</div>